packages:
  yum:
    libXScrnSaver: []
    atk: []
    gtk3: []
    cups-libs: []
    libXcomposite: []
    alsa-lib: []
    libXrandr: []
    pango: []
    libXcursor: []
    libXi: []
    libXtst: []
    libXinerama: []
    wget: []
    xorg-x11-server-Xvfb: []

commands:
  01_add_google_signing_key:
    command: |
      rpm --import https://dl-ssl.google.com/linux/linux_signing_key.pub

  02_setup_google_chrome_repo:
    command: |
      cat <<EOF > /etc/yum.repos.d/google-chrome.repo
      [google-chrome]
      name=google-chrome
      baseurl=http://dl.google.com/linux/chrome/rpm/stable/x86_64
      enabled=1
      gpgcheck=1
      gpgkey=https://dl-ssl.google.com/linux/linux_signing_key.pub
      EOF

  03_install_google_chrome:
    command: yum -y install google-chrome-stable

container_commands:
  01_set_chrome_headless:
    command: echo "alias chrome-headless='google-chrome --headless --no-sandbox --disable-gpu --remote-debugging-port=9222'" >> /etc/profile.d/chrome-headless.sh
